@font-face{
    font-family: Pipboy;
    src:url(/fonts/monofonto.ttf)
}

body {
    font-family: Pipboy, sans-serif;
    height: 100%;
    background:#1c201a;
    color: #78ff05;
}

body::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:5000;
    top: 0;
    pointer-events: none;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgb(0, 0, 0, 0.4) 1px, transparent 1px, transparent 2px);
    opacity: .2;
}

/* .main-nav{

} */

.second-nav{
    margin-top: 5px;
}

.main-nav__list{
    margin: 10px;
    border-bottom: 2px solid #78ff05;
    font-weight: bold;
    padding-left: 0;
}

.second-nav__list{
    padding-left: 0;
}

.main-nav__list::before, .main-nav__list::after{ 
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    background-color: #78ff05;
}

.main-nav__list::after{
    right: 16.5px;
}

.main-nav__list::before{
    left: 16.5px;
    top: 37.5px;
}

.flex-container{
    display: flex;
    max-width: 70vw;
    justify-content: space-between;
}

.pipboy-stats{
    height:500px;
    display: grid;
    grid-template: [stat-row1]1fr [stat-row2]175px [stat-row3]175px [stat-row4]1fr / [stat-col1]1fr [stat-col2]325px [stat-col3]1fr;
}

.pipboy-stats__img{
    display: block;
    position: relative;
    max-height: 350px;
    transform: scaleX(-1);
    filter: sepia(100%) hue-rotate(40deg) saturate(16);
    grid-area: stat-row2 / stat-col2 / stat-row3 / stat-col2 ;
    place-self: start center;
}

.pipboy-stats__top{
    grid-area: stat-row1/stat-col2;
    place-self: center;
}

.pipboy-stats__top-left{
    grid-area: stat-row2/stat-col1;
    place-self: center end;
    margin-top: 40px;
}

.pipboy-stats__bottom-left{
    grid-area: stat-row3/stat-col1;
    place-self: center end;
    margin-top: 85px;
}

.pipboy-stats__top-right{
    grid-area: stat-row2/stat-col3;
    place-self: center start;
    margin-top: 40px;
}

.pipboy-stats__bottom-right{
    grid-area: stat-row3/stat-col3;
    place-self: center start;
    margin-top: 85px;
}

.pipboy-stats__bottom{
    grid-area: stat-row4/stat-col2;
    place-self: center;
}

.center{
    margin: auto;
}

.xxx-small{
    max-width: 10vw;
}

.tiny{
    width: 5vw;
}

.main-nav__item, 
.second-nav__item{
    list-style-type: none;
    font-size: x-large;
}

.main-nav__item{
    display: flex;
    justify-content: center;
    position: relative;
}

.second-nav__item{
    border: 1px solid transparent;
}

.second-nav__item:nth-child(3){
    opacity: .3;
}

.second-nav__item:nth-child(2){
    opacity: .5;
}

.main-nav__item.active::before{
    content: "";
    position: absolute;
    background:#1c201a;
    width: 100%;
    height: 65%;
    top: 10px;
    border: #78ff05 solid;
    border-width: 2px 2px 0px 2px;
    display: flex;
}

.main-nav__item.active{
    /* max-width: max-content; */
    padding-left: 3px;
    padding-right: 3px;
}

.main-nav__link, 
.second-nav__link{
    color: inherit;
    text-decoration: none;
    z-index: 5000 ;
    background: #1c201a;
    padding: 0px 5px;
}

footer{
    position: fixed;
    bottom: 0;
    display:inline-flex;
    width: 99%;
    height: 30px;
    margin-bottom: 6px;
    left: 8px;
    white-space: nowrap
}

.footer__hp,
.footer__lvl,
.footer__ap{
    font-weight: bold;
    font-size: 23px;
    background-color: #8efe2c34;
    border: #1c201a solid;
    border-width: 0px 2px 0px 2px;
    padding-left: 5px;
    padding-top: 3px;
}

.footer__hp{
    flex-basis: 20%;
}

.footer__lvl{
    flex-basis: 60%;
    display: flex;
}

.footer__ap{
    flex-basis: 20%;
}

.lvl-progress{
    position: relative;
    height: 11px;
    border: 2px solid;
}

.footer__lvl > .lvl-progress{
    flex-grow: 1;
    margin: 6px 10px 0px 10px;
}

.lvl-progress--indicator{
    position: absolute;
    width: 80%;
    height: 11px;
    background: #78ff05;
}
